In [1]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\user\anaconda3\lib\site-packages (0.1.72)
Requirement already satisfied: numpy>=1.15 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=0.24.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.4.1)
Requirement already satisfied: lxml>=4.5.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf
import pandas as pd

In [3]:
data = yf.download("AAPL AMZN MSFT META NVDA PEP TSLA", start="2017-06-05",end="2022-06-05")

[*********************100%***********************]  7 of 7 completed

In [5]:
data.head()

            Adj Close                                               \
                 AAPL       AMZN        META       MSFT       NVDA
Date
2017-06-05  36.430080  50.567001  153.630005  67.701340  36.591766
2017-06-06  36.553150  50.150002  152.809998  67.926140  36.426121
2017-06-07  36.770874  50.503502  153.119995  67.804390  36.866177
2017-06-08  36.680950  50.513500  154.710007  67.392242  39.541164
2017-06-09  35.258579  48.915501  149.600006  65.865486  36.984863

                                       Close                         ...  \
                   PEP       TSLA       AAPL       AMZN        META  ...
Date                                                                 ...
2017-06-05  101.785454  69.463997  38.482498  50.567001  153.630005  ...
2017-06-06  101.630020  70.570000  38.612499  50.150002  152.809998  ...
2017-06-07  101.068787  71.930000  38.842499  50.503502  153.119995  ...
2017-06-08  100.067131  74.000000  38.747501  50.513500  154.710007  ...
2017-06-09  100.110321  71.463997  37.244999  48.915501  149.600006  ...

                 Open                            Volume                       \
                 NVDA         PEP       TSLA       AAPL       AMZN      META
Date
2017-06-05  35.744999  117.389999  67.699997  101326800   54398000  12520400
2017-06-06  36.955002  117.779999  68.940002  106499600   66928000  13457100
2017-06-07  37.082500  117.169998  71.267998   84278400   56460000  12066700
2017-06-08  38.365002  117.050003  72.750000   85003200   55358000  17799400
2017-06-09  41.185001  115.660004  74.884003  259530800  152954000  35577700


                MSFT       NVDA      PEP      TSLA
Date
2017-06-05  33316800   81737600  2968800  33922000
2017-06-06  31511100   75872800  2643200  55434000
2017-06-07  22301800   61261200  3681100  46990000
2017-06-08  24588300  116174400  3956700  45307500
2017-06-09  49187400  369292800  3197700  86307000

[5 rows x 42 columns]

In [6]:
data.tail()

             Adj Close                                                  \
                  AAPL        AMZN        META        MSFT        NVDA
Date
2022-05-27  149.639999  115.146500  195.130005  273.239990  188.070236
2022-05-31  148.839996  120.209503  193.639999  271.869995  186.680542
2022-06-01  148.710007  121.683998  188.639999  272.420013  183.161270
2022-06-02  151.210007  125.511002  198.860001  274.579987  195.878586
2022-06-03  145.380005  122.349998  190.779999  270.019989  187.160431

                                         Close                          ...  \
                   PEP        TSLA        AAPL        AMZN        META  ...
Date                                                                    ...
2022-05-27  170.583527  759.630005  149.639999  115.146500  195.130005  ...
2022-05-31  166.591293  758.260010  148.839996  120.209503  193.639999  ...
2022-06-01  165.339996  740.369995  148.710007  121.683998  188.639999  ...
2022-06-02  166.679993  775.000000  151.210007  125.511002  198.860001  ...
2022-06-03  164.850006  703.549988  145.380005  122.349998  190.779999  ...

                  Open                             Volume             \
                  NVDA         PEP        TSLA       AAPL       AMZN
Date
2022-05-27  181.860001  171.259995  723.250000   90978500   93660000
2022-05-31  189.800003  170.979996  773.840027  103718400  144634000
2022-06-01  187.240005  168.179993  755.159973   74286600  127528000
2022-06-02  182.919998  165.619995  732.469971   72348100  100560000
2022-06-03  190.820007  165.860001  729.679993   88471400   97604000


                META      MSFT      NVDA       PEP      TSLA
Date
2022-05-27  22562700  26910800  73837900   6713500  29765000
2022-05-31  26131100  37827700  66410000  13610000  33971500
2022-06-01  36623500  25292200  54451400   5613900  25749300
2022-06-02  31951600  44008200  64865600   4677300  31157700
2022-06-03  19447300  28048000  59848000   4222000  37348100

[5 rows x 42 columns]

In [8]:
import sys
import warnings

if not sys.warnoptions:
    warnings.simplefilter('ignore')

In [9]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
from datetime import timedelta
from tqdm import tqdm
sns.set()
tf.compat.v1.random.set_random_seed(1234)

In [11]:
minmax = MinMaxScaler().fit(data.iloc[:, 4:5].astype('float32')) # Close index
df_log = minmax.transform(data.iloc[:, 4:5].astype('float32')) # Close index
df_log = pd.DataFrame(df_log)
df_log.head()

          0
0  0.016677
1  0.016129
2  0.017586
3  0.026442
4  0.017979

In [13]:
#split train and test data 
#train dataset derived from starting timestamp until last 30 days 
#test dataset derived from last 30 days until end of dataset 
test_size = 30
simulation_size = 10

df_train = df_log.iloc[:-test_size]
df_test = df_log.iloc[-test_size:]
data.shape, df_train.shape, df_test.shape

((1260, 42), (1230, 1), (30, 1))

In [14]:
class Model:
    def __init__(
        self,
        learning_rate,
        num_layers,
        size,
        size_layer,
        output_size,
        forget_bias = 0.1,
    ):
        def lstm_cell(size_layer):
            return tf.nn.rnn_cell.BasicRNNCell(size_layer)

        rnn_cells = tf.nn.rnn_cell.MultiRNNCell(
            [lstm_cell(size_layer) for _ in range(num_layers)],
            state_is_tuple = False,
        )
        self.X = tf.placeholder(tf.float32, (None, None, size))
        self.Y = tf.placeholder(tf.float32, (None, output_size))
        drop = tf.contrib.rnn.DropoutWrapper(
            rnn_cells, output_keep_prob = forget_bias
        )
        self.hidden_layer = tf.placeholder(
            tf.float32, (None, num_layers * size_layer)
        )
        self.outputs, self.last_state = tf.nn.dynamic_rnn(
            drop, self.X, initial_state = self.hidden_layer, dtype = tf.float32
        )
        self.logits = tf.layers.dense(self.outputs[-1], output_size)
        self.cost = tf.reduce_mean(tf.square(self.Y - self.logits))
        self.optimizer = tf.train.AdamOptimizer(learning_rate).minimize(
            self.cost
        )
        
def calculate_accuracy(real, predict):
    real = np.array(real) + 1
    predict = np.array(predict) + 1
    percentage = 1 - np.sqrt(np.mean(np.square((real - predict) / real)))
    return percentage * 100

def anchor(signal, weight):
    buffer = []
    last = signal[0]
    for i in signal:
        smoothed_val = last * weight + (1 - weight) * i
        buffer.append(smoothed_val)
        last = smoothed_val
    return buffer

In [16]:
num_layers = 1
size_layer = 128
timestamp = 5
epoch = 300
dropout_rate = 0.8
future_day = test_size
learning_rate = 0.01

In [17]:
def forecast():
    tf.reset_default_graph()
    modelnn = Model(
        learning_rate, num_layers, df_log.shape[1], size_layer, df_log.shape[1], dropout_rate
    )
    sess = tf.InteractiveSession()
    sess.run(tf.global_variables_initializer())
    date_ori = pd.to_datetime(df.iloc[:, 0]).tolist()

    pbar = tqdm(range(epoch), desc = 'train loop')
    for i in pbar:
        init_value = np.zeros((1, num_layers * size_layer))
        total_loss, total_acc = [], []
        for k in range(0, df_train.shape[0] - 1, timestamp):
            index = min(k + timestamp, df_train.shape[0] - 1)
            batch_x = np.expand_dims(
                df_train.iloc[k : index, :].values, axis = 0
            )
            batch_y = df_train.iloc[k + 1 : index + 1, :].values
            logits, last_state, _, loss = sess.run(
                [modelnn.logits, modelnn.last_state, modelnn.optimizer, modelnn.cost],
                feed_dict = {
                    modelnn.X: batch_x,
                    modelnn.Y: batch_y,
                    modelnn.hidden_layer: init_value,
                },
            )        
            init_value = last_state
            total_loss.append(loss)
            total_acc.append(calculate_accuracy(batch_y[:, 0], logits[:, 0]))
        pbar.set_postfix(cost = np.mean(total_loss), acc = np.mean(total_acc))
    
    future_day = test_size

    output_predict = np.zeros((df_train.shape[0] + future_day, df_train.shape[1]))
    output_predict[0] = df_train.iloc[0]
    upper_b = (df_train.shape[0] // timestamp) * timestamp
    init_value = np.zeros((1, num_layers * size_layer))

    for k in range(0, (df_train.shape[0] // timestamp) * timestamp, timestamp):
        out_logits, last_state = sess.run(
            [modelnn.logits, modelnn.last_state],
            feed_dict = {
                modelnn.X: np.expand_dims(
                    df_train.iloc[k : k + timestamp], axis = 0
                ),
                modelnn.hidden_layer: init_value,
            },
        )
        init_value = last_state
        output_predict[k + 1 : k + timestamp + 1] = out_logits

    if upper_b != df_train.shape[0]:
        out_logits, last_state = sess.run(
            [modelnn.logits, modelnn.last_state],
            feed_dict = {
                modelnn.X: np.expand_dims(df_train.iloc[upper_b:], axis = 0),
                modelnn.hidden_layer: init_value,
            },
        )
        output_predict[upper_b + 1 : df_train.shape[0] + 1] = out_logits
        future_day -= 1
        date_ori.append(date_ori[-1] + timedelta(days = 1))

    init_value = last_state
    
    for i in range(future_day):
        o = output_predict[-future_day - timestamp + i:-future_day + i]
        out_logits, last_state = sess.run(
            [modelnn.logits, modelnn.last_state],
            feed_dict = {
                modelnn.X: np.expand_dims(o, axis = 0),
                modelnn.hidden_layer: init_value,
            },
        )
        init_value = last_state
        output_predict[-future_day + i] = out_logits[-1]
        date_ori.append(date_ori[-1] + timedelta(days = 1))
    
    output_predict = minmax.inverse_transform(output_predict)
    deep_future = anchor(output_predict[:, 0], 0.3)
    
    return deep_future[-test_size:]

In [18]:
results = []
for i in range(simulation_size):
    print('simulation %d'%(i + 1))
    results.append(forecast())

simulation 1

AttributeError: module 'tensorflow' has no attribute 'reset_default_graph'

In [ ]:
accuracies = [calculate_accuracy(df['Close'].iloc[-test_size:].values, r) for r in results]

plt.figure(figsize = (15, 5))
for no, r in enumerate(results):
    plt.plot(r, label = 'forecast %d'%(no + 1))
plt.plot(df['Close'].iloc[-test_size:].values, label = 'true trend', c = 'black')
plt.legend()
plt.title('average accuracy: %.4f'%(np.mean(accuracies)))
plt.show()